<div class="card top-marg-15 bottom-marg-15">
    <div class="card-body cart-body">
        <h5 class="card-title">Cart contents </h5>
        <div class="cartBodyWrapper">
            {{#each results}}
            <div class="d-flex flex-row bottom-pad-15">
                <div class="p-2 cart-product">
                    <div class="row h-200">
                        <div class="col-4 col-md-3 no-pad-left">
                            {{#if item.imagePath}}
                            <img class="img-fluid" src="{{this.item.imagePath}}" alt="{{this.item.productName}} product image">
                            {{else}}
                            <img class="img-fluid" src="/uploads/placeholder.png" alt="{{this.item.productName}} product image"> 
                            {{/if}}
                        </div>
                        <div class="col-8 col-md-9">
                            <div class="row">
                                <div class="col-12 no-pad-left mt-md-4">
                                    <h6><a href="">{{this.item.productName}}</a></h6>
                                </div>
                                <div class="col-12 col-md-6 no-pad-left mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary btn-qty-minus" type="button"  onClick="doTheThings()">-</button>
                                        </div>
                                        <input type="number" 
                                            class="form-control cart-product-quantity text-center" 
                                            data-cartid="1" 
                                            data-id="{{this.item._id}}"
                                            maxlength="2" 
                                            value={{this.Qty}}
                                        >
                                        <div class="input-group-append">
                                            <button class="btn btn-primary btn-qty-add" type="button" onClick="doTheThings()">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-md-2 no-pad-left">
                                    <button class="btn btn-danger btn-delete-from-cart" data-id="{{this.item._id}}" type="button"  onClick="doTheThings()">{{{feather 'trash-2'}}}</button>
                                </div>
                                <div class="col-12 col-md-8 no-pad-left mb-2"></div>
                                <div class="col-8 col-md-4 align-self-center text-right">
                                    <strong class="my-auto">₹{{this.price}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="cartTotalsWrapper">
            {{#if results}}
            <div class="d-flex flex-row">
                <div class="cart-contents-shipping col-md-12 no-pad-right">
                    <div class="text-right">
                        Total Quanity: <strong id="shipping-amount">{{totalQty}}</strong>
                    </div>
                    <div class="text-right">
                        Total:
                        <strong id="total-cart-amount">₹{{totalPrice}}</strong>
                    </div>
                </div>
            </div>
            {{else}}
            <div id="cart-empty" class="d-flex flex-row">
                <div class="cart-contents-shipping col-md-12 no-pad-left">
                    Cart empty
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>