{{> menu}}
<script>
function doTheThings()
{
    setTimeout(function(){
        location.reload();
    },100);
} 
</script>
<div class="productsWrapper col-sm-12 col-md-8 offset-md-2">
    <div class="row product-layout">
        {{#ifCond main_results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">"No products found"</p>
            </div>
        {{/ifCond}}
        {{#each main_results}}
            <div class="{{perRowClass 3}}">
                <div class="thumbnail">
                    <div class="product-wrapper">
                    <a href="/}">
                        <div class="vertical-center img-thumbnail">
                            {{#if imagePath}}
                                <img class="img-fluid" src="{{this.imagePath}}" alt="...">
                            {{else}}
                                <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                            {{/if}}
                        </div>
                        <h3 class="product-title product-title-home top-pad-10">
                            {{this.productName}}
                        </h3>
                        <h4 class="product-price mp-0 text-center">
                            ₹{{this.productPrice}}
                        </h4>
                    </a>
                    </div>
                    <p class="text-center">
                    <a class="btn btn-primary add-variant-to-cart" data-id="{{this._id}}" role="button" onClick="doTheThings()">"Add to cart" </a>
                    </p>
                </div>
            </div>
        {{/each}}
    </div>
</div>
